#news
  #super_new
    margin-top: 20px
    overflow: hidden
    height: 250px
    #image
      padding: 0
      img
        width: 100%
    #text
      color: $light_text_color
      padding: 30px 20px
      background-color: $header_color
      height: 100%
      h5
        font-weight: bold
      #title
        a
          color: $light_link_color
        a:hover
          text-decoration: underline
  #normal_news
    margin-top: 20px
    height: 220px
    overflow: hidden
    #normal_new
      padding: 0 15px 0 0
      #image
        overflow: hidden
        height: 150px
        img
          width: 100%
      h5
        margin-bottom: 0
        a
          color: $text_color
        a:hover
          text-decoration: underline
      #headline
        font-size: $small_size
