#new_show
  #left
    margin-bottom: 10px
    #credit
      font-size: $tiny_size
      color: $headline_color
    #caption
      background-color: $light_text_color
      padding: 3px 6px
      color: $headline_color
      font-size: $tiny_size
  #title
    color: $title_color
    margin-bottom: 20px
  #headline
    color: $headline_color
    font-size: $standard_size
    font-weight: thin
    margin-bottom: 30px
  #author_date
    margin-bottom: 50px
    font-size: $standard_size
  #content
    line-height: 1.6
    font-size: $small_size
