// COLORS BY NAME
// The colors by name will be used only inside this file, as a reference for other colors.
// Any reference to color in other stylesheets MUST be semantic
$light_gray: #eee
$light_yellow: #f8e781
$yellow: #f4d72e
$white: #fff
$light_blue: #daeff6
$blue: #4e92e9
$dark_blue: #678484
$light_red: #f9e7e9
$medium_red: #e58a94
$red: #cc1529
$green: #59af6d
$medium_gray: #aaa
$black: #333
$beige: #fcfdd0

// COLORS BY SEMANTICS
// These colors should reference colors by name and should have a name associated with its
// meaning and context in the styles.
$header_color: $blue
$header_link_color: $white
$header_link_hover_color: $light_blue
$background_color: $white
$border_color: $medium_gray
$text_color: $black
$content_color: $white
$footer_color: $blue
$table_header_color: $beige
$table_row_color: $light_gray
$button_color: $yellow
$button_hover_color: $light_yellow
$button_text_color: $white
$link_color: $dark_blue
$hover_color: $blue
$flash_text_color: $white
$flash_success_color: $green
$flash_failure_color: $red
$error_border_color: $medium_red
$error_background_color: $light_red
