// COLORS BY NAME
// The colors by name will be used only inside this file, as a reference for other colors.
// Any reference to color in other stylesheets MUST be semantic
$purple_1: #8687c1
$purple_2: #8486be
$gray_1: #ecebeb


// COLORS BY SEMANTICS
// These colors should reference colors by name and should have a name associated with its
// meaning and context in the styles.
$header_color: $purple_1
$footer_color: $gray_1
$border_color: $gray_1
$nav-bar_hover_color: $purple_2
$nav-bar_active_color: $purple_2

