#header_wrapper
  #header
    #logo = link_to image_tag("second_logo.png"), root_path
    #links
      =link_to 'Escola', about_path
      =link_to 'Cursos', courses_path
      =link_to 'Terapias', therapies_path
      =link_to 'Agenda', events_path
      =link_to 'Galeria', albums_path
      =link_to 'Noticias', news_path
      =link_to 'Contato', contact_path
      =link_to 'Área do Aluno', student_path
