form method="post" action="http://terapiaeregressao.com.br/sistema/form.php?form=1" id="frmSS1" onsubmit="return CheckForm1(this);"
  input type="text" name="CustomFields[2]" id="CustomFields_2_1" value="" size='50'
  input type="hidden" name="format" value="h"
  input type="submit" value="cadastro"
